/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* variables */
:root{
    --header-height: 3rem;

    /* colors */
    --hue-color: 206;
    --black-color: hsl(var(--hue-color),4%, 4%);
    --black-color-alt:  hsl(var(--hue-color),4% ,8%);
    --title-color:  hsl(var(--hue-color),4% ,95%);
    --text-color: hsl(var(--hue-color),4%, 75%);
    --text-color-light:  hsl(var(--hue-color),4% ,65%);
    --white-color:  #FFF;
    --body-color:  hsl(var(--hue-color),4%, 6%);
    --container-color:  hsl(var(--hue-color),4%, 10%);
    --text-gradient:  linear-gradient( hsl(var(--hue-color),4% ,24%),  hsl(var(--hue-color),4% ,8%));
    --scroll-thumb-color:  hsl(var(--hue-color),4% ,16%);
    --scroll-thumb-color-alt:  hsl(var(--hue-color),4%, 20%);

    /* Font and typography  */
    --body-font:'Poppins', sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.55rem;
    --big-font-size: 2.55rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2eem;

    /* font weight */
    --font-medium:500;
    --font-semi-bold: 600;

    /* margin bottom */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* z index */
    --z-tooltip: 10 ;
    --z-fixed: 100;
}

/* Responsive Typography */
@media screen and (min-width:968px) {
    :root{
        --biggest-font-size: 75rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color:var(--text-color);
}
h1,h2,h3{
    color:var(--title-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button,input{
    border:none;
    outline:none;
}
button{
    cursor: pointer;
}
img{
    max-width: 100%;
    height:auto;
}

/* Reuseable css classes */
.section{
    padding: 4rem 0 2rem;
}
.section_title{
    font-size: var(--bigger-font-size);
    text-align: center;
    margin-bottom: var(--mb-2-5);
}
.section_title-gradient{
    background: var(--text-gradient);
    color:transparent;
    -webkit-background-clip:text;
}

/* layout */
.main{
    overflow:hidden;
}
.container{
    max-width:968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display:grid;
}

/* ------- Header ------ */
.header{
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: var(--z-fixed);
    background:transparent;
}

/* ------- NAV -------- */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    display:flex;
    width:1.5rem;
}
.nav_toggle{
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
}

@media screen and (max-width:767px){
    .nav_menu{
        position:fixed;
        background-color:var(--body-color);
        top:-100%;
        left:0;
        width:100%;
        padding:4rem 0 3rem;
        transition: .4s;
    }
}

.nav_list{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.nav_link{
    color:var(--white-color);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    background: var(--text-gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.nav_link:hover{
    background:var(--white-color);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.nav_close{
    position:absolute;
    font-size: 1.5rem;
    top:1rem;
    right:1rem;
    cursor: pointer;
    color:var(--white-color);
}

/* Show Menu */
.show-menu{
    top:0;
}

/* Change backgroun header */
.scroll-header{
    background-color: var(--black-color);
}

/* Active Link */
.active-link{
    background:var(--white-color);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* ------ Home ----- */
.home_img{
    width:250px;
    position:absolute;
    top:-16rem;
    right:1.5rem;
}
.home_data{
    padding-top:5rem;
}
.home_header{
    position:relative;
}
.home_title{
    font-size: var(--bigger-font-size);
    background: var(--text-gradient);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position:absolute;
    top:-4rem;
    left:1rem;
    line-height: 6rem;
}
.home_subtitle{
    font-size:var(--big-font-size);
    margin-bottom: var(--mb-2-5);
}
.home_title-description{
    font-size:var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.home_description{
    margin-bottom: var(--mb-2-5);
    line-height: var(--text-line-height);
}
.home_price{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: var(--mb-0-75);
}
.button{
    display:inline-block;
    background-color:var(--black-color);
    color:var(--white-color);
    padding:1rem 1.25rem;
    border-radius: .5rem;
    transition:.3rem;
}
.button:hover{
    background-color: var(--black-color);
}
.button_icon{
    font-size:1.2rem;
}
.button--flex{
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}

/* ---- Sponsor ----- */
.sponsor_img{
    width:90px;
}
.sponsor_container{
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    row-gap: 5rem;
    justify-items: center;
    align-items: center;
}

/* ------- Specs ------- */
.specs_container{
    position:relative;
}
.specs_content{
    row-gap: 1.5rem;
}
.specs_data{
    display:grid;
    row-gap: .25rem;
}
.specs_icon{
    font-size: 1.2rem;
    color:var(--white-color);
}
.specs_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.specs_subtitle{
    font-size: var(--smaller-font-size);
}
.specs_data:nth-child(1),
.specs_data:nth-child(4){
    margin-left: var(--mb-1-5);
}
.specs_img{
    width:250px;
    position:absolute;
    top:2rem;
    right:-4rem;
}

/* ------- Case ------- */
.case_container{
    position: relative;
    grid-template-columns: repeat(2, 1fr);
}
.case_data{
    padding:5rem 0 3rem;
}
.case_img{
    width:250px;
    position: absolute;
    left:-7rem;
}
.case_description{
    margin-bottom: var(--mb-1-5);
    line-height:var(--text-line-height);
}

/* ------- Discount ------- */
.discount_container{
    position: relative;
    background-color: var(--container-color);
    padding:2rem 1.5rem;
    border-radius: .75rem;
}
.discount_title{
    font-size:var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}
.discount_description{
    margin-bottom:var(--mb-1);
}
.discount_img{
    width:300px;
    position:absolute;
    top:4rem;
    right:-11rem;
}

/* ------- Products ------- */
.products_line{
    line-height: 4rem;
}
.products_container{
    grid-template-columns: repeat(2,1fr);
    gap:5rem 1.5rem;
    padding-top:3rem;
}
.products_card{
    position:relative;
    height:132px;
    background-color: var(--container-color);
    border-radius: .5rem;
    padding:.75rem;
    display: grid;
}
.product_img{
    width:80px;
    position:absolute;
    inset:0;
    margin-left: auto;
    margin-right: auto;
    top:-3rem;
}
.product_content{
    align-self: flex-end;
}
.products_title,
.products_price{
    font-size: var(--small-font-size);
}
.products_button{
    position:absolute;
    right:.5rem;
    bottom:.5rem;
    padding:.5rem;
    border-radius:.35rem;
}

/* ------- Footer ------- */
.footer_container{
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    row-gap: 2rem;;
}
.footer_logo{
    width:2rem;
}
.footer_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.footer_links{
    display:flex;
    flex-direction: column;
    row-gap: .5rem;
}
.footer_link{
    color:var(--text-color);
}
.footer_link:hover{
    color:var(--white-color);
}
.footer_form{
    display:flex;
    column-gap: .5rem;
    background-color: var(--container-color);
    padding:.5rem .75rem;
    border-radius: .5rem;
    margin-bottom: var(--mb-2);
}
.footer_input{
    background-color: var(--container-color);
    width:90%;
    color:var(--white-color);
}
.footer_input::placeholder{
    color:var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}
.footer_social{
    display:flex;
    column-gap: 1.25rem;
}
.footer_social-link{
    display:inline-flex;
    color:var(--white-color);
    background-color: var(--container-color);
    padding: .5rem;
    border-radius: .25rem;
    font-size: 1rem;
}
.footer_social-link:hover{
    background-color: var(--black-color);
}
.footer_copy{
    margin-top: 5rem;
    text-align: center;
    font-size:var(--smaller-font-size);
    color:var(--text-color-light);
}
.footer_copy-link{
    color:var(--text-color-light);
}

/* scroll up */
.scrollup{
    position:fixed;
    right:1rem;
    bottom:-20%;
    display:flex;
    background-color: var(--container-color);
    border-radius: .25rem;
    padding:.45rem;
    opacity: 9;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup_icon{
    color:var(--white-color);
    font-size: 1.35rem;
}
.scrollup:hover{
    background-color: var(--black-color);
    opacity:1;
}
.show-scroll{
    bottom:5rem;
}

/* Scroll bar */
::-webkit-scrollbar{
    width:.60rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--scroll-thumb-color-alt);
}

/* ------ Media Queries ------- */

/* for small devices */
@media screen and (max-width:340px) {
    .container{
        margin-left:var(--mb-1);
        margin-right:var(--mb-1);
    }
    .section_title{
        font-size: var(--big-font-size);
    }
    .home_img{
        width:200px;
        top:-13rem;
    }
    .home_title{
        top: -4rem;
        font-size: var(--bigger-font-size);
    }
    .home_data{
        padding-top: 1rem;;
    }
    .home_description{
        font-size: var(--small-font-size);
    }
    .specs_img{
        width:200px;
    }
    .case_container{
        grid-template-columns: .6fr 1fr;
    }
    .case_img{
        width:220px;
        top:-2rem;
        left:-9rem;
    }
    .case_data{
        padding:0;
    }
    .products_container{
        grid-template-columns: 143px;
        justify-content: center;
    }
}

/* for medium device */
@media screen and (min-width:576px) {
    .home_container{
        grid-template-columns:.8fr 1fr ;
    }
    .home_data{
        padding-top:2rem;
    }
    .home_img{
        top:-7rem;
        left:0;
    }
    .specs_img{
        position:initial;
    }
    .specs_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .case_img{
        position:initial;
    }
    .case_data{
        padding:0;
    }
    .case_container{
        grid-template-columns: max-content 250px;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }
    .discount_img{
        position:initial;
    }
    .discount_container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .products_container{
        grid-template-columns: repeat(3, 142px);
        justify-content: center;
    }
}

@media screen and (min-width:767px) {
    body{
        margin:0;
    }
    .section{
        padding:6rem 0 2rem;
    }
    .nav{
        height:4.5rem;
    }
    .nav_logo{
        width:2rem;
    }
    .nav_list{
        flex-direction: row;
        column-gap: 3.5rem;
    }
    .nav_link{
        font-size: var(--normal-font-size);
        text-transform: initial;
    }
    .nav_toggle,
    .nav_close{
        display: none;
    }

    .home_container{
        position:relative;
        grid-template-columns: repeat(2,1fr);
    }
    .home_img{
        top:-9rem;
        left:4rem;
    }
    .home_data{
        padding-top:8rem;
    }
    .specs_img{
        width:300px;
    }
    .case_container{
        column-gap: 5rem;
    }
    .case_img{
        width:300px;
    }
    .case_description{
        margin-bottom: var(--mb-2);
    }
    .discount_container{
        grid-template-columns: 180px max-content;
        justify-content: center;
        column-gap: 5rem;
        padding:3rem 0;
    }
    .discount_title{
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-1);
    }
    .discount_description{
        margin-bottom: var(--mb-2);
    }
    .products_container{
        grid-template-columns: repeat(3,162px);
        gap: 6rem 3rem;
        padding-top: 5rem;
    }
    .products_card{
        height:152px;
        padding:.85rem;
    }
    .product_img{
        width:95px;
    }
    .footer_container{
        grid-template-columns: .4fr .7fr .7fr 1fr;
    }
}

/* For large device */
@media screen and (min-width:1024px) {
    .container{
        margin-left:auto;
        margin-right:auto;
    }
    .home_img{
        width:300px;
        top:-15rem;
    }
    .home_title{
        top:-5rem;
        left:3.5rem;
    }
    .home_description{
        padding-right: 5rem;
    }
    .sponsor_img{
        width:100px;
    }
    .discount_img{
        width: 350px;
    }
    .footer_container{
        padding-top: 3rem;
    }
    .footer_copy{
        margin-top:9rem;
    }
}